html,body{
    background-image:   url(../img/download.png);
    font-family: Quicksand;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}


@media (min-width: 768px)  { 
    .col-sm-2-5{
        width: 19%;
        float: left;

    }
    .col-sm-10-5{
        width: 81%;
        float: right;
    }
}




/*slide css */
.carousel-inner,.carousel,.item,.container,.fill {
    height:100%;
    width:100%;
    background-position:center center;
    background-size:cover;
}
.slide-wrapper .slide {
    padding: 0px;
    margin: 0px;

}

.h{
    font-size: 14px;
    font-style: italic
}




/*---vertical bootstrap slider----*/

.carousel-inner> .item.next ,  .carousel-inner > .item.active.right{ transform: translateY(100%); -webkit-transform: translateY(100%); -ms-transform: translateY(100%);
                                                                     -moz-transform: translateY(100%); -o-transform: translateY(100%);  top: 0;left:0;}
.carousel-inner > .item.prev ,.carousel-inner > .item.active.left{ transform: translateY(-100%); -webkit-transform: translateY(-100%);  -moz-transform: translateY(-100%);
                                                                   -ms-transform: translateY(-100%); -o-transform: translateY(-100%); top: 0; left:0;}
.carousel-inner > .item.next.left , .carousel-inner > .item.prev.right , .carousel-inner > .item.active{transform:translateY(0); -webkit-transform:translateY(0);
                                                                                                        -ms-transform:translateY(0);-moz-transform:translateY(0); -o-transform:translateY(0); top:0; left:0;}


/*-------- Animation slider ------*/

.animated{
    animation-duration:3s;
    -webkit-animation-duration:3s;
    -moz-animation-duration:3s;
    -ms-animation-duration:3s;
    -o-animation-duration:3s;
    visibility:visible;
    opacity:1;
    transition:all 0.3s ease;
}

.item {
    color:white; 
    /*    text-align:center;*/
    /*background-color:  rgba(0, 0, 0, 0.5);*/
    padding-top: 0px;
    padding-bottom: 0px;}

.slide-transparent{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;      
}

.item  h2{font-size:40px; animation-delay:1s;animation-duration:1s; color: #ffcf1e; width:80%;}
.item  p{animation-delay:1.5s;animation-duration:1s; width:80%; font-size: 16px;}
.item .fill{padding:0px; display:table; }
.item .inner-content{display: table-cell;vertical-align: middle; padding: 15px; background-color: rgba(0, 0, 0, 0.5); height: 100vh; }

.item1 .item2 .item3 .carousel-img img , .item1.active .item2.active .item3.active .carousel-img img{max-height:300px;}
.item1.active .item2.active .item3.active .carousel-img img.animated{
    visibility:visible; 
    opacity:1; 
    transition:all 1s ease; 
    -webkit-transition:all 1s ease; 
    -moz-transition:all 1s ease; 
    -ms-transition:all 1s ease; 
    -o-transition:all 1s ease;                                      
    animation-duration:2s; 
    -webkit-animation-duration:2s; 
    -moz-animation-duration:2s; 
    -ms-animation-duration:2s; 
    -o-animation-duration:2s; 
    animation-delay:0.3s ; 
    -webkit-animation-delay:0.3s;
    -moz-animation-delay:0.3s;
    -ms-animation-delay:0.3s; }

.item .carousel-desc {width:100%;}


@media(max-width:768px)
{
    .item .carousel-img img, .item.active .carousel-img img{max-height:155px;}
    .item  h2{font-size:30px; margin-top:0px;}
    .item .carousel-desc p{width:100%; font-size:16px;}

    .affix-content{
        padding: 0px !important ;
    }

    .contact{
        padding-left: 30px;
    }
}
@media(max-width:480px)
{
    .item  h2{font-size:30px;}
    .item .carousel-desc p{width:100%;}
    .logo-img{
        width: 70px;
        margin-top: 15px;
        margin-right: 25px;
    }
}


.text-left-bottom h2{
    text-align: left;
    padding-left: 25px;
    float: left;
}

.text-left-bottom p{
    text-align: left;
    padding-left: 25px;
    float: left;
    padding-top: 15px;
}

.text-top-right p{
    text-align: right;
    padding-right: 25px;
    float: right;
    padding-top: 15px; 
}

.text-top-right h2{
    text-align: right;
    padding-right: 25px;
    float: right;
    padding-top: 15px; 
}

/* make sidebar nav vertical */ 


.main{
    padding: 10px 10px 0 10px;
}

.img-brand{
    height: 100px;
}

@media(max-width:900px)
{
    .img-brand{
        padding-bottom: 40px;
    }

    .navbar-collapse{
        padding-left: 0px;    }
    .container-fluid{
        padding-left: 0px;  
    }
}

@media (min-width: 901px) {
    .slide-container{
        padding : 15px;
        height: 100%;
    }
}

.affix-content{
    height: 100vh;
    padding: 0px !important ;
}

.form-subcrible{
    border-radius: 10px;
    height: 50px;
    width: 90%;
    color: black;
}

.btn-subcrible{
    background-color:#ffcf1e;
    border: none;
    border-radius: 10px;
    color: black;
    height: 50px;
    width: 90%;
}

.contact-item{
    padding-top: 50px;
}

.contact-item p{
    font-size: 14px;
}

.contact-item-header{
    color: #ffcf1e;
    font-size: 18px !important;
    font-family: UTM Neo Sans Intel;
}

@media screen and (max-width: 768px){
    .slide-container{
        height: 100%;
    }
    .item  p{font-size: 14px;}

    .contact-item{
        font-size: 12px;
        padding-right: 5%;
        padding-top: 15px;
    }

    .form-subcrible{
        margin-bottom: 5px;
        height: 40px;
    }

    .btn-subcrible{
        height: 40px;
    }

    .test{
        font-size: 12px;
    }

    .text-top-right p{
        text-align: left;
        padding-left: 25px;
        float: left;
        padding-bottom: 15px;
    }

    .text-top-right h2{
        text-align: left;
        padding-left: 25px;
        float: left;
        padding-bottom: 20px;
    }

    .h{
        font-size: 12px;
    }
}

.banner-btn{
    margin-top: 25px;
    padding: 15px;
    opacity: 1;
    background-color:#ffcf1e;
    border: none;
    border-radius: 10px;
    color: black;
}

.logo-img{
    width: 16%;
    margin-top: 20px;
    margin-right: 25px;
}

.form-dropdown{
    background-color: #58595b;
    color: white;
    border: 1px solid white;
    width: 100%
}

.btn{
    text-align: right;
}
/* end slide css */

/* menu css */

.navbar-nav{
    font-family: UTM Neo Sans Intel;
}

.navbar {
    margin-bottom: 0px;
}

@media(max-width:900px)
{
    .logo-img{
        width: 70px;
        margin-top: 15px;
        margin-right: 25px;
    }

}

@media (min-width: 901px) {

    .main{
        position: absolute;
        width: calc(100% - 40px); 
        margin-left: 40px;
        float: right;
    }

    nav.sidebar:hover + .main{
        margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
        height: auto;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
        height: auto;
    }

    .navbar-brand{
        padding-right: 13px;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }

    nav.sidebar{
        height: 100vh;
        float: left;
        margin-bottom: 0px;
    }

    nav.sidebar li {
        width: 100%;
    }

    nav.sidebar:hover{
        margin-left: 0px;
    }

    .forAnimate{
        opacity: 0;
    }

}

@media (min-width: 1330px) {

    .main{
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    nav.sidebar{
        margin-left: 0px;
        float: left;
    }

    nav.sidebar .forAnimate{
        opacity: 1;
    }

    .navbar-header{
        height: auto;
    }



}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}



.navbar-default{
    border: none;
    /*    background-color: #58595b;*/
    background: transparent;
}

.navbar-header{
    padding-bottom: 30px;
    height: auto;
}

@media screen and (max-width: 768px){
    .navbar-inverse .navbar-toggle {
        border: unset;
    }
    .navbar-nav{
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-toggle {
        margin-right: 0;
        margin-top: 20px;
        float: right;
        position: fixed;
        right: 0;
        top : 0;
        z-index: 930;
    }
    .navbar-header{
        padding-bottom: 0px;
        margin-bottom: 20px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border: none;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1030;
        background-color: #58595b;
    }

    .img-brand{
        height: 70px;
        padding-bottom: 20px;
    }

    .sidebar{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }  
}

.navbar-nav>li>a{
    padding-top: 3px;
    padding-bottom: 5px;
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffcf1e;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffcf1e;
}

.banner-icon{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: 0px;
}

/* end menu css */

/* modal css */
.modal-content{
    background-color: #58595b;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}


.modal-title{
    text-align: center;
    color: #ffcf1e;
    font-size: 25px;
}

.modal-body>p{
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.modal-header{
    border: none;
    padding-bottom: 0px;
}

.form-group>label{
    font-weight: normal;
}

.form-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color:#ffcf1e;
    border: none;
    border-radius: 10px;
    color: black;
    width: 100%;
}

.form-group input,textarea{
    background: #58595b;
    color: #ffcf1e;
}

.close{
    color: #ffcf1e;
    font-size: 30px;
    opacity: 0.8;
}

